.new-tweet {
  margin: 0px 50px 10px 50px;
  padding: 0px 50px 30px 20px;
  border: 1px solid grey;
  border-radius: 5px;
}

.tweet-button {
  position: relative;
}

.counter {
  position: relative;
  left: 230px;
}

.negative-counter {
  position: relative;
  left: 230px;
  color: red;
}

.textbox {
  width:310px;
  min-width:310px;
  max-width:310px;
  min-height:40px;
}

h2 {
  border-bottom: 1px solid black;
  width:310px;

}